= render 'layouts/header'
.row
  .col-md-6.col-md-offset-3
    .row
      %aside.col-md-4
        %section.user_info
          %h1= @user.name
          %span= link_to "マイページ", @user
        %section.stats
          = render 'shared/stats', user: @user
      .col-md-8
        %h3= @title
        - if @users.any?
          %ul.users.follow
            = render @users
