= render 'layouts/header'
%div.row
  %div.col-md-6.col-md-offset-3
    %h1 グループチャットルーム
    = render 'shared/flash'
    = form_with model: @group_chat, local: true do |f|
      = f.label :content, class: "form-label"
      = f.text_field :content, class: "form-control" 
      = f.hidden_field :name, :value => current_user.name
      = f.hidden_field :hobby_room_id, :value => @hobby_room.id
      %br
      = f.submit "送信", class: "btn btn-primary"
    %br
    %hr
    = link_to "参加者一覧", @hobby_room, class: "btn btn-warning"
    %br
    %hr
    - @chats.each do |chat|
      %p= "#{chat.name}　　=>　　#{chat.content}"
      %p= chat.created_at.strftime("%Y-%m-%d %H:%M:%S")
      %details
        %summary.btn.btn-default リプライを見る
        %br
        %hr
        - chat.replys.each do |reply|
          %p= "#{reply.name}　:　#{reply.content }"
          %hr
        = form_with url: "/group_chats/reply/#{@hobby_room.id}", scope: :reply ,local: true do |f|
          %br
          = f.text_field :content, class: "form-control"
          %br
          = f.hidden_field :group_chat_id, :value => chat.id 
          = f.hidden_field :name, :value => @current_user.name 
          = f.submit "送信" ,class: "btn btn-primary"
      %br
      %hr
